<h1>All Contacts</h1>

<ul>
<% Contact.all.each do |contact| %>
  <li>
  <%= contact.first_name %>
  <%= contact.last_name %>
  </li>
<% end %>
</ul>

<ul>
  <% Contact.all.each do |contact| %>
  <li>
    <%= contact.email %>
    <%= contact.note  %>
  </li>
  <% end %>
</ul>

<li><a href="/contacts/new">Add a New Contact</a></li>
