<h2 class="contact_info">
  Contact Information
  <br>
  There are <%= Contact.count %> Contacts
</h2>
<% Contact.count %>
<ul>
<% Contact.all.each do |contact| %>
  <li class="contact_details">
  <a href="/contacts/:id"><%= contact.first_name %></a>
  <a href="/contacts/:id"><%= contact.last_name %></a>
  <a href="/contacts/:id">(<%= contact.email %>)</a>
  <p class="contact_editor"><a href="#">Edit</a> | <a href="#">Delete</a></p>
</li>
<% end %>
</ul>
