<h2>Edit the Contact</h2>

<form class="contact_field" action="index.html" method="post">
  <fieldset>
    <legend>Edit the Contact</legend>
    <li>
      <label>
        First Name:
        <input class="input_field" type="text" name="first_name" value="">
      </label>
    </li>
    <li>
      <label>
        Last Name:
        <input class="input_field" type="text" name="last_name" value="">
      </label>
    </li>
    <li>
      <label>
        Email:
        <input class="input_field" type="text" name="email" value="">
      </label>
    </li>
    <li>
      <label>
        Note:
        <input class="input_field" type="text" name="note" value="">
      </label>
    </li>
    <li>
          <label>
            <input type='submit' value='New Contact'>
          </label>
        </li>
  </fieldset>
</form>

<br>
<br>
