<h2>Edit the Contact</h2>

<div class="form-container">
  <form class="" action="index.html" method="post">

  <fieldset>
    <legend>Edit the Contact</legend>
    <li>
      <input type="text" name="first_name" value="">
    </li>
    <li>
      <input type="text" name="last_name" value="">
    </li>
    <li>
      <input type="text" name="email" value="">
    </li>
    <li>
      <input type="text" name="note" value="">
    </li>
  </fieldset>


  </form>
</div>
