<header>
  <h1>Welcome to <%=@crm_app_name %>!</h1>
</header>

<div>
  <li class="home_nav">Main Menu</li>
  <li class="home_nav"><a href="/contacts">View all Contacts</a></li>
  <li class="home_nav"><a href="/new_contact">Add a New Contact</a></li>
<li class="home_nav">About</li>
  <!-- please complete me with links to other actions -->
</ul>

</div>

<img src="https://img.memesuper.com/d65f68171f0e3f055fae9266416e5521_homer-simpson-gif-pandawhale-css-meme-gif_500-357.gif" alt="Homer vs CSS" class="home_pictures">

<img src="http://i.imgur.com/Q3cUg29.gif" alt="Peter vs CSS" class="home_pictures">

<footer>
  <p>© Bitmaker 2017</p>
</footer>
