<header>
  <h2 class="contact_detail">Create new Contact Details</h2>
</header>

<form class="add_contact"action='/contacts' method='post'>
  <fieldset>
    <li>
      <label>
        First Name:
        <input type='text' name='first_name'>
      </label>
    </li>

    <li>
      <label>
        Last Name:
        <input type='text' name='last_name'>
      </label>
    </li>

    <li>
      <label>
        Email:
        <input type='text' name='email'>
      </label>
    </li>

    <li>
      <label>
        Note:
        <input type='text' name='note'>
      </label>
    </li>

    <li>
      <label>
        <input type='submit' value='New Contact'>
      </label>
    </li>
  </fieldset>
</form>

<br>
<br>
