<header>
  <h1>Create new Contact</h1>
</header>

<div>
  <li class="home_nav"><a href="/">Home</a></li>
  <li class="home_nav"><a href="/contacts">View all Contacts</a></li>
  <li class="home_nav"><a href="https://bitmaker.co/">About</a></li>
  <!-- please complete me with links to other actions -->
</ul>


<form action='/contacts' method='post'>
  <input type='text' name='first_name'>
  <input type='text' name='last_name'>
  <input type='text' name='email'>
  <input type='text' name='note'>
  <input type='submit' value='New Contact'>
</form>

<a href="/">Back to Main Menu</a>

<footer>
<p>© Bitmaker 2017</p>
</footer>
