<header>
  <h1>Create new Contact</h1>
</header>



<form action='/contacts' method='post'>
  <input type='text' name='first_name'>
  <input type='text' name='last_name'>
  <input type='text' name='email'>
  <input type='text' name='note'>
  <input type='submit' value='New Contact'>
</form>

<a href="/">Back to Main Menu</a>

<footer>
<p>© Bitmaker 2017</p>
</footer>
